#map-image {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ml-auto {
  margin-right: auto;
}

#chat-bot-card {
}

.chat-message {
  padding-left: 5px;
  padding-right: 5px;
}

.circle {
  background: #e3e3e3;
  border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  width: 35px;
}
