#map-image {
  max-width: 90%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.chat-message {
  padding: 5px;
}

.circle {
  background: #e3e3e3;
  border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  width: 35px;
}
